<h2>Itemizations for filing <%= @filing_id %> by <%= @filing.summary.committee_name %></h2>
Number of itemizations on this schedule: <%= @itemizations.length %>

<%= render :partial => "#{@sked}_table", :locals => {:itemizations => @itemizations} %>

