<h2>Itemizations for filing <%= @filing_id %></h2>
Number of itemizations on this schedule: <%= @itemizations.length %>

<%= render :partial => "#{@sked}_table", :locals => {:itemizations => @itemizations} %>

